<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
</head>
<body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
            <div class="col-6">
                <!-- Placeholder for map-->
                <div class="chart" id="bargraph">
                </div>
            </div>
        <div class="col">
        </div>
    </div>
        <div class="row">
        <!-- Placeholder for the global-cases plot-->
            <div class="chart" id="bargraph2">
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Placeholder for global-time series -->
            <div class="chart" id="bargraph3"></div>
        </div>
    </div>
</div>

<script>
    var graph1 = {{plot | safe}};
    Plotly.plot('bargraph',graph1,{});
</script>
<script>
    var graph2 = {{plot2 | safe}};
    Plotly.plot('bargraph2',graph2,{});
</script>
<script>
    var graph3 = {{plot3 | safe}};
    Plotly.plot('bargraph3',graph3,{});
</script>

</body>
</html>