<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
</head>
<body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="chart2" id="bargraph2">
                <script>
                    var graphs = {{plot2 | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart3" id="bargraph3">
                <script>
                    var graphs = {{plot3 | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>